<!-- Feed title Card  -->
<div class="row feed-title">
  <div class="card-body">
    <div class="d-flex justify-content-end">
    </div>
    <h2 class="card-title">Welcome to the feed page!</h2>
  </div>
</div>

<!-- Card to create a new post -->
<div class="card-body row new-post-div">
  <div class="col-12">
    <form class="form new-post-form">
      <div class="form-group form-row">
        <textarea class="form-input col-8 rounded-lg" id="post-content" placeholder="Write a post here!" /></textarea>
        <div class="col-8">
          <button type="submit" class="btn btn-md btn-block" id="create-post-btn">Create Post</button>
        </div>
      </div>
    </form>
  </div>

  <!-- Card to show previous posts and applicable comments  -->
  <!-- All rendered through handlebar utility functions -->
  {{#if posts.length}}
  <div class="card-body post-list">
    <h3>Previous Posts:</h3>

    {{#each posts as |post|}}
    <div class="row">
      <div class="col-lg-12" id="existing-posts">

        <h5>{{post.user.username}} posted: <a href="/post/{{post.id}}"></a>
          {{post.content}}</h5>

        {{#if comments.length}}
        {{#each comments as |comment|}}
        <div class="col-md-12 existing-comments">
          <p>{{comment.user.email}} commented: <a href="/comment/{{comment.id}}"></a>
            {{comment.comment}}</p>
          <!-- Required div for npm package creating like/dislike buttons -->
          <div data-lyket-type="updown" data-lyket-id="my-first-post" id="reactions"></div>
          {{/each}}
          {{/if}}
          {{#if post.is_author}}
          <button class="btn btn-md" data-id="{{post.id}}">Delete Post</button>
          {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}


  <script src="./js/feed.js"></script>